# Java / Maven
target/
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build folders
out/
build/

# PostgreSQL / local files
*.db

# Maven wrapper jar can stay if exists