# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Java / Maven
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment files
.env
application-local.yml
application-local.properties

# Node / Frontend - future
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mobile - future
.gradle/
android/.gradle/
ios/Pods/